html {
    background: #edece9;
}

h1,h3 {
    text-align: center;
}

img {
    display: inline-block;
    width: 200px;
    vertical-align: bottom;
    border-radius: 2px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.59);
}

imgFlow {
    display: inline-block;
    position: relative;
    width: 1080px;
    height: 1000px;
    /*outline: 1px solid red;*/
    left: 50%;
    transform: translateX(-50%);
}

column {
    display: inline-block;
    float: left;
    width: 200px;
    height: 100%;
}

column+column {
    margin-left: 20px;
}

imgBox {
    display: inline-block;
}

imgBox+imgBox {
    margin-top: 20px;
}
